@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

.student {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  padding: 1rem;
  border-bottom: 2px solid #e2e0e0;
}

.icon {
  width: 12rem;
  align-self: center;
  border: 1px solid #d1d1d1;
  border-radius: 99rem;
}

.student-info {
  padding-left: 3rem;
}

.information {
  padding-left: 0.5rem;
}
