@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: -0.1rem;
  margin-top: 0;
}

p {
  font-weight: 400;
  margin: 0.5rem;
}
